extends layout

block content
    div.main
        each page in pages
            section(id=page.slug)
                div.background
                div.background.filtered
                    article
                article
                    if page.image
                        div.image
                            img(src=page.image.url, title=page.image.title)
                    if page.html
                        div.content!= page.html
