extends layout

block content
    div.main
        each page in pages
            section(id=page.slug)
                div.background
                div.background.filtered
                    article
                div.arrow.fa.fa-chevron-up
                article
                    if page.html
                        div.content!= page.html
                div.arrow.fa.fa-chevron-down
