doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='bower/onepage-scroll/onepage-scroll.css')
    script(type='text/javascript', src='bower/jquery/jquery.min.js')
    script(type='text/javascript', src='bower/onepage-scroll/jquery.onepage-scroll.min.js')
    script(type='text/javascript', src='javascripts/index.js')

  body
    block content
