@import "reset.less";
@import "../bower/font-awesome/css/font-awesome.min.css";

body {
    padding: 50px;
    font-family: Verdana, Geneva, sans-serif;
}

a {
    color: #00B7FF;
}

@green: #7ADB72;
@purple: #55134E;
@palePurple: #A0596B;
@yellow: #FEC343;
@salmon: #EF7351;
@eggshell: #F5F5F5;

@black: #111;

@blurRadius: 4px;
@sepia: 70%;

section {
    font-size: 35px;

    div.background {
        position: absolute;
        z-index: -1;
        height: 100%;
        width: 100%;
        &.filtered {
            z-index: 0;
            opacity: 0;
            -webkit-filter: blur(@blurRadius) sepia(@sepia);
            -moz-filter: blur(@blurRadius) sepia(@sepia);
            -o-filter: blur(@blurRadius) sepia(@sepia);
            -ms-filter: blur(@blurRadius) sepia(@sepia);
            filter: blur(@blurRadius) sepia(@sepia);
            &.visible {
                opacity: 1;
                transition: opacity 7s ease;
            }
        }
    }

    div.fa.arrow {
      position: absolute;
      opacity: .5;
      width: 100%;
      text-align: center;
      font-size: 4em;
      color: @eggshell;
      text-shadow: 0px 0px 4px @salmon;
      -webkit-filter: blur(1px);
      -moz-filter: blur(1px);
      -o-filter: blur(1px);
      -ms-filter: blur(1px);
      filter: blur(1px);
      &::before {
        cursor: pointer;
      }

      &.fa-arrow-circle-up {
        top: 10px;
      }

      &.fa-arrow-circle-down {
        bottom: 10px;
      }
    }

    article {
        background: @eggshell;
        opacity: 0.9;
        width: 90%;
        height: 70%;
        padding: 6px;
        border-radius: 4px;

        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;

        h1,h2 {
            color: @black;
            text-align: center;
            margin-bottom: 25px;
            font-size: 2em;
            font-weight: bold;
        }
        h5 {
          margin-bottom: 40px;
          text-align: center;
          height: 40px;
        }
        p {
            line-height: 1em;
            margin: 10px auto;
            line-height: 125%;
        }
        img {
            width: 80%;
            margin-left: 10%;
        }
        ul {
            list-style: disc;
            li {
                margin-left: 2em;
            }
        }
    }

    &#brandywine-acres {
        article {
          height: 300px;
        }
        .fa-arrow-circle-up {display: none;}
        div.background {
            background: transparent url('/images/lettuce.jpg') center center;
            background-size: cover;
        }

    }
    &#now-available {
        div.background {
            background: transparent url('/images/honeycomb.jpg') center center;
            background-size: cover;
        }
    }
    &#about {
        article {
          height: 450px;
        }
        .fa-arrow-circle-down {display: none;}
        div.background {
            background: transparent url('/images/winter.jpg') center center;
            background-size: cover;
        }
    }
}


@media (min-device-width: 451px) {
    section {
        font-size: 20px;
        article {
            max-width: 450px;
            h5 {
              margin-bottom: 15px;
            }
        }
    }
}
